<div class="main-container">
  <div class="side-bar">
    <a href="#" class="side-bar-btn active">LW</a>
    <a href="#" class="side-bar-btn">SL</a>
  </div>
  <div class="middle-bar">
    <h2>Le Wagon</h2>
    <div class="person">
      <div class="dot-active"></div>
      <p><%= current_user.nickname %></p>
    </div>
    <div class="channel">
      <div class="channel-title">
        <h5>Channels</h5>
        <i class="fa-solid fa-plus"></i>
      </div>
      <p class="active"><i class="fa-brands fa-slack"></i> general</p>
      <p><i class="fa-brands fa-slack"></i> help</p>
      <p><i class="fa-brands fa-slack"></i> design</p>
      <p><i class="fa-solid fa-lock"></i> weekend-drinks</p>
      <p><i class="fa-solid fa-lock"></i> gaming</p>
    </div>
    <div class="dm">
      <div class="dm-title">
        <h5>Direct Messages</h5>
        <i class="fa-solid fa-plus"></i>
      </div>
      <div class="person">
        <div class="dot-active"></div>
        <p class="active">Matz</p>
      </div>
      <div class="person">
        <div class="dot-inactive"></div>
        <p>StHawking</p>
      </div>
      <div class="person">
        <div class="dot-inactive"></div>
        <p>AlTuring</p>
      </div>
      <div class="person">
        <div class="dot-inactive"></div>
        <p>AlEinstein</p>
      </div>
    </div>
  </div>
  <div class="main-chat">
    <div class="top-title">
      <h2><i class="fa-brands fa-slack"></i> <%= @chatroom.name %></h2>
    </div>
  </div>
</div>
</div>
