.main-container {
  height: 100vh;
  display: flex;
}

.middle-bar {
  color: rgb(216, 216, 216);
  background-color: #4B3A49;
  flex-grow: 1;
  padding: 16px;
}

.channel, .dm {
  font-size: 16px;
  color: #a59ca4;
  margin-bottom: 16px;
}

.channel-title, .dm-title {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.dot-active {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1FE5BD;
  margin-top: 8px;
  margin-right: 4px;
}

.dot-inactive {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #a59ca4;
  margin-top: 8px;
  margin-right: 4px;
}

.person {
  display: flex;
}

.person > .active {
  color: rgb(216, 216, 216);
}

.channel > .active {
  color: rgb(216, 216, 216);
}

.channel > p, .dm > .person > p {
  margin: 0;
}

.logout-btn {
  color: rgb(216, 216, 216);
  &:hover {
    color: rgb(118, 118, 118);
  }
}
